label, form, #divAssetSearch
{
    position: relative;
    left: 6%;
}

#pgAssetSearch
{
    left: 0;
}

input[type="text"]
{   
    width: 100%;
    height: 20px;
}

textarea
{    
    width: 100%;
    height: 125px;
}

select
{
    height: 20px;
}

input[type="submit"], button, a
{
   display: block;
   margin: 0 auto;   
}

.divCenter
{
    text-align: center;
}

#btnSubmit, #btnAddTitle
{
    margin-top: 25px;
}

/*========== TABLE STRUCTURE ==========*/
/*=====================================*/
td
{
    width: 100px;
    padding-bottom: 10px;
    padding-right: 15px;
}


