.rightHex
{       
    top: -63px;    
}

#btnNavLogin
{
    margin-top: 35px;
}

#txtEmailOnly
{
    margin-top: 25px;
}

@media screen and (max-width: 600px)
{
    .rightHex
    {
        top: 0px;
        margin-top: -45px;
        width: 100%;
    }
    
    .rightHex.short
    {
        margin-top: -60px;
    }

    #btnNavLogin
    {
        margin: 0 auto;
    }
}

