.rightHex
{       
    top: -69px;    
}

#btnNavLogin
{
    margin-top: 35px;
}

#txtEmailOnly
{
    margin-top: 25px;
}

@media screen and (max-width: 600px)
{
    .rightHex
    {
        top: 0px;
        margin-top: -45px;
        width: 100%;
    }
    
    .rightHex.short
    {
        margin-top: -300px;
    }
    
    .rightHex.short.extra
    {
        margin-top: -280px;
    }

    #btnNavLogin
    {
        margin: 0 auto;
    }
}

@media only screen and (max-device-width: 480px)
{
    #fLogin, #fSignUp
    {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    .hex
    { 
        margin-bottom: -70px;
        position: relative; 
        display: block;
    }
    
    .topHex, .bottomHex
    {
        display: none;
    }
    
    .middleHex
    {       
        width: 100%;
        height: 200px;
        margin: 0 auto;       
        background: none;  
    }
    
    .hex-row.even
    {
        position: relative;
        top: 160px;
        right: 0px;
    }
    
    .hex-row
    {
        text-align: center;    
        width: 100%;
    }
    
    .rightHex
    {
        position: relative;
        left: 0px;        
    }
    
    .rightHex.signupmobile
    {
        position: relative;
        left: 0px;        
    }  
    
    #btnForgotUser
    {
        margin-top: 25px;
    }
    
    #btnSignUp
    {
        margin-top: 25px;
    }
    
    #btnLogin
    {
        margin-top: 10px;
    }
    
    #formDiv
    {
        width: 100%;        
    }
    
    input[type="text"], input[type="password"], input[type="email"]
    { 
        background: white;
        border: 2px #DDD;    
        box-shadow: 0 0 8px #333;
        color: #666;    
        padding: 5px 10px;
        outline: none;
        height: 50px;    
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 80%;     
        
    }

    input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus
    {
        border: 2px #FF0080;    
        box-shadow: 0 0 12px #FF0080;
    }
    
    .font
    {
        font-family: Arial, "Arial", Georgia, serif;        
        font-weight: bold;
        color: #CD3695;
    }

    .titleFont
    {
        font-family: 'cubic';
        font-size: 48px;
        font-weight: normal;
        color: #CD3695;      
        margin-bottom: -10px;
        display: block;
    }
    
    #submitButton, button
    {
        background-color: #CD3695;
        border: none;
        color: white;
        height: 50px;
        width: 80%;
        margin-bottom: 10px;    
    }

    #submitButton:hover, button:hover{
        background-color: #FF0080;
        cursor:pointer;
    }
}