/* ========== GENERAL ========== */
/* ============================= */
@font-face {
    font-family: cubic;
    src: url('http://fluxlogicstudios.com/codecycle/styles/fonts/cubic.ttf');
}

body
{
    background-color: #F2F2F2;
}

.center
{   
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
    text-align:center;
}

#spPageTitle
{
    height:50px;
}

/* ========== FONTS ========== */
/* =========================== */

.font
{
    font-family: Arial, "Arial", Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    color: #CD3695;
    margin-bottom: 25px;
}

.titleFont
{
    font-family: cubic;
    font-size: 64px;
    font-weight: normal;
    color: #CD3695;
    margin-bottom: -40px;
    margin-top: 10px;
}

/* ========== LOGIN FORM ========== */
/* ================================ */

input[type="text"], input[type="password"], input[type="email"]
{ 
    background: white;
    border: 2px #DDD;    
    box-shadow: 0 0 8px #333;
    color: #666;    
    padding: 5px 10px;
    outline: none;
    height: 30px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 180px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus
{
    border: 2px #FF0080;    
    box-shadow: 0 0 12px #FF0080;
}

#submitButton, button
{
    background-color: #CD3695;
    border: none;
    color: white;
    height: 35px;
    width: 180px;
    margin-bottom: 10px;    
}

#submitButton:hover, button:hover{
    background-color: #FF0080;
    cursor:pointer;
}

#formDiv
{       
    top: 0px;    
}

#fLogin, #fSignUp
{
    width: 100%;    
    margin: 0 auto;
}

#btnForgotUser
{
    margin-top: 15px;
}

#btnSignUp, #btnLogin
{
    margin-top: 35px;
}

/* ========== HEX STYLES ========== */
/* ================================ */

.hex
{ 
    margin-bottom: -60px;
    position: relative;
    display: inline-block;
}

.topHex{
    width: 0;
    border-bottom: 65px solid #696969;
    border-left: 112px solid transparent;
    border-right: 112px solid transparent;
    margin: 0 auto;
}

.middleHex
{
    width: 224px;
    height: 120px;
    background-color: #696969;
    border: none;
    margin: 0 auto;
}

.bottomHex{
    width: 0;
    border-top: 65px solid #696969;
    border-left: 112px solid transparent;
    border-right: 112px solid transparent;
    margin: 0 auto;
}

.hex-row
{
    clear: left; 
    width: 100%;
    text-align: center;
    position: relative;
}

.hex-row.even
{
    position: relative;    
}

.rightHex
{       
    top: -25px;    
}

.hex.rightHex.signupmobile.extra {
    top: -45px;
}

/* ========== SKINNY SCREENS ========== */
/* ==================================== */

@media only screen and (max-device-width: 480px)
{
    #fLogin, #fSignUp
    {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    .hex
    { 
        margin-bottom: -70px;
        position: relative; 
        display: block;
    }
    
    .topHex, .bottomHex
    {
        display: none;
    }
    
    .middleHex
    {       
        width: 100%;
        height: 200px;
        margin: 0 auto;       
        background: none;  
    }
    
    .hex-row.even
    {
        position: relative;
        top: 160px;
        right: 0px;
    }
    
    .hex-row
    {
        text-align: center;    
        width: 100%;
    }
    
    .rightHex
    {
        position: relative;
        left: 0px;        
    }
    
    .rightHex.signupmobile
    {
        position: relative;
        left: 0px;        
    
    }  
    
    .rightHex.signupmobile.extra
    {
        top: 60px !important;
    }
    
    #btnForgotUser
    {
        margin-top: 25px;
    }
    
    #btnSignUp
    {
        margin-top: 25px;
    }
    
    #btnLogin
    {
        margin-top: 10px;
    }
    
    #formDiv
    {
        width: 100%;        
    }
    
    input[type="text"], input[type="password"], input[type="email"]
    { 
        background: white;
        border: 2px #DDD;    
        box-shadow: 0 0 8px #333;
        color: #666;    
        padding: 5px 10px;
        outline: none;
        height: 50px;    
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 80%;     
        
    }

    input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus
    {
        border: 2px #FF0080;    
        box-shadow: 0 0 12px #FF0080;
    }
    
    .font
    {
        font-family: Arial, "Arial", Georgia, serif;
        font-size: 36px;
        font-weight: bold;
        color: #CD3695;
    }

    .titleFont
    {
        font-family: 'cubic';
        font-size: 48px;
        font-weight: normal;
        color: #CD3695;      
        margin-bottom: -10px;
        display: block;
    }
    
    #submitButton, button
    {
        background-color: #CD3695;
        border: none;
        color: white;
        height: 50px;
        width: 80%;
        margin-bottom: 10px;    
    }

    #submitButton:hover, button:hover{
        background-color: #FF0080;
        cursor:pointer;
    }
}

@media screen and (max-width: 600px)
{
    .topHex, .bottomHex
    {
        display: none;
    }
    
    .middleHex
    {       
        width: 100%;
        margin: 0 auto;       
        background: none;        
    }
    
    .hex-row.even
    {
        position: relative;
        top: 80px;
        right: 0px;
    }
    
    .hex-row
    {
        text-align: center;    
        width: 100%;
    }
    
    .rightHex
    {
        position: relative;
        left: 0px;        
    }
       
    .titleFont
    {
        font-size: 48px;        
    }
    
    .font{
        font-size: 16px;
    }
    
    #btnForgotUser
    {
        margin-top: 10px;
    }
    
    #btnSignUp
    {
        margin-top: 25px;
    }
    
    #btnLogin
    {
        margin-top: 10px;
    }
}


