@charset "UTF-8"; h1,h2,h3,h4,h5,h6,pre,code
{
    font-size: 1em;
}

h1,h2,h3,h4,h5,h6,pre,form,body,html,p,fieldset,input
{
    margin: 0;
    padding: 0;
}

body
{
    line-height: 1;
}

html,img
{
    border: 0;
}

html,body
{
    width: 100%;
    height: 100%;
}

ul,ol
{
    margin: 0;
    padding: 0 0 0 30px;
}

:focus
{
    outline: 0;
}

.top-background
{
    background-color: #fff;
    background-image: url('../images/top-background.gif');
    background-repeat: repeat-x;
}

.text
{
    font-size: 14px;
    font-family: Arial, "Arial", Georgia, serif;
    color: #000000;
}

.heading1
{
    font-weight: bold;
    font-size: 21px;
    font-family:  Arial, "Arial", Georgia, serif;
    line-height: 110%;
    color: #003278;
}

.text-background
{
    background-repeat:repeat-x;
}

.nbstyle1, .nbstyle1 *
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nbstyle1
{
    line-height: 1.0;
    float: left;
}

.nbstyle1 ul
{
    position:absolute;top:-999em;width:12em
}

.nbstyle1 ul li
{
    width: 100%;
}

.nbstyle1 li:hover
{
    visibility:inherit;
}

.nbstyle1 li
{
    float:left;
    position:relative;
}

.nbstyle1 a
{
    display: block;
    position: relative;
    text-decoration: none;
}

.nbstyle1 li:hover ul, .nbstyle1 li.sfHover ul
{
    left: 0;
    top: 60px;
    z-index: 99;
}

ul.nbstyle1 li:hover li ul,ul.nbstyle1 li.sfHover li ul
{
    top:-999em;
}

ul.nbstyle1 li li:hover ul,ul.nbstyle1 li li.sfHover ul
{
    left:12em;
    top:0;
}

ul.nbstyle1 li li:hover li ul,ul.nbstyle1 li li.sfHover li ul
{
    top:-999em;
}

ul.nbstyle1
{
    width:100%;
}

.nbstyle1 a.listitem,.nbstyle1 a.firstitem,.nbstyle1 a.lastitem
{
    font-family: Arial, "Arial", Georgia, serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    display: block;
    float: left;
    line-height: 60px;
    color: #000;
    text-decoration: none;
    background-image: url('../images/nb-item.png');
    background-repeat: no-repeat;
    background-position: left top;
    width: 160px;
}

* html .nbstyle1 a.listitem,* html .nbstyle1 a.firstitem,* html .nbstyle1 a.lastitem
{
    display: inline;
}

.nbstyle1 a.listitem:hover,.nbstyle1 li:hover a.listitem,.nbstyle1 li.sfHover a.listitem,.nbstyle1 a.firstitem:hover,.nbstyle1 li:hover a.firstitem,.nbstyle1 li.sfHover a.firstitem,.nbstyle1 a.lastitem:hover,.nbstyle1 li:hover a.lastitem,.nbstyle1 li.sfHover a.lastitem
{
    color: #fff;
    background-image: url('../images/nb-hover.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.nbstyle1 a.lastitem
{
    background-image: url('../images/nb-last-item.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.nbstyle1 a.lastitem:hover,.nbstyle1 li:hover a.lastitem,.nbstyle1 li.sfHover a.lastitem
{
    background-image: url('../images/nb-last-item-hover.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.nbstyle1 a.listitem span.mainitem,.nbstyle1 a.firstitem span.mainitem,.nbstyle1 a.lastitem span.mainitem
{
    text-decoration: none;
    display: block;
}

.nbstyle1 li ul a
{
    display: block;
    border-top: 1px solid #ffcc65;
    border-bottom: 1px solid #ffcc65;
    border-right: 1px solid #ffcc65;
    border-left: 1px solid #ffcc65;
    height: 30px;
    line-height: 30px;
    padding-left: 1.5em;
    font-family: Times,"Times New Roman",Georgia,serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.nbstyle1 li ul a.sub-last
{
    display: block;
    border-bottom: 1px solid #ffcc65;
}

* html .nbstyle1 a.listitem,* html .nbstyle1 a.firstitem,* html .nbstyle1 a.lastitem
{
    cursor: pointer;
}

* html .nbstyle1 li ul a
{
    height: 1%;
    cursor: pointer;
}

*+html .nbstyle1 a.listitem,*+html .nbstyle1 a.firstitem,*+html .nbstyle1 a.lastitem
{
    cursor: pointer;
}

.nbstyle1 li ul a:hover,.nbstyle1 li ul li:hover>a
{
    outline: 0;
    color: #fff;
    background-color: #ff9a00;
}

#ifldasb2 .nbstyle1 li.nav-ifldasb2 a.firstitem,.ifldasb2 .nbstyle1 li.nav-ifldasb2 a.firstitem
{
    color: #000000;
    background-repeat: no-repeat;
    background-position: left top;
}

.nbstyle1 li ul a.sf-with-ul
{
    padding-right: 2.25em;
    min-width: 1px;
}

.nbstyle1 ul span.sf-sub-indicator
{
    position: absolute;
    display: block;
    right: .75em;
    top: 50%;
    width: 8px;
    height: 13px;
    margin-top: -6.5px;
    text-indent: -999em;
    overflow: hidden;
}

* html .nbstyle1.sf-shadow ul
{
    background: 0;
    padding: 0;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.container
{
    position:relative;
    margin: 0 auto;
    width: 971px;
    text-align:left;
    min-height: 100%;
    height: 100% !important;
}

.bottom-background
{
    background-image: url('../images/bottom-background.gif');
    background-repeat: repeat-x;
    height: 100px;
}

.maincontent
{
    position:relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 1200px;   
}

#btnSubmit
{    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
