@charset "UTF-8"; h1,h2,h3,h4,h5,h6,pre,code
{
    font-size: 1em;
}



h1,h2,h3,h4,h5,h6,ul,pre,form,body,html,p,fieldset,input
{
    margin: 0;
    padding: 0;
}

body
{
    line-height: 1.5em;
}

html,img
{
    border: 0;
}

html,body
{
    width: 100%;
    height: 100%;
}

button, .aButton
{
    background-color: #CD3695;
    border: none;
    color: white;
}

button:hover, .aButton:hover
{
    background-color: #FF0080;
    cursor:pointer;
}

:focus
{
    outline: 0;
}

.aButton
{
    display:block;
    text-decoration: none;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.top-background
{
    background-color: #DDD;
    height: 150px;
}

.text
{
    font-size: 14px;
    font-family: Arial, "Arial", Georgia, serif;
    color: #000000;
}

.center
{
    margin: 0 auto;
    width: 100%;
    border: 1px solid red;
}

.container
{
    position:relative;
    margin: 0 auto;
    width: 971px;
    text-align:left;
    min-height: 100%;
    height: 100% !important;
}

.bottom-background
{
    background-image: url('../images/bottom-background.gif');
    background-repeat: repeat-x;
    height: 100px;
}

.maincontent
{    
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 100%;
    width: 100%;   
}

p
{
    margin-top: 50px;
    margin-bottom: 25px;
    position: relative;
    left: 6%;
    font-size: 20px;
    color: #CD3695;
}

#quicknav
{
    position: relative;   
}

#dashboardNav
{
    float: right;
    margin-right: 20px;
}

input[type="submit"]
{    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

input[type="submit"], button
{
    background-color: #CD3695;
    border: none;
    color: white;
    height: 35px;
    width: 180px;
    margin-bottom: 10px;    
}

input[type="submit"]:hover, button:hover{
    background-color: #FF0080;
    cursor:pointer;
}

#dashboardNav li
{
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#menuBar
{
    height: 90px;
    width: 100%;
}

#divLogButton
{
    position: relative;
    top: 55px;
    left: 575px;
    width: 80px;
    z-index: 1;
}

#btnLogOut
{  
    height: 25px;
    width: 80px;
}

#google_translate_element
{
    position: relative;
    top: 18px;
    left: 700px;
    width: 80px;
    z-index: 1;
}

/* ========== NAVIGATION ==========*/
/* ================================*/

ul,ol
{
    margin:0;
    padding:0 0 0 30px;
}

:focus
{
    outline:0;
}

.navstyle,.navstyle *
{
    margin:0;
    padding:0;
    list-style:none;
}

.navstyle
{
    line-height:1.0;
}

.navstyle ul
{
    position:absolute;
    top:-999em;
    width:12em;
}

.navstyle ul li
{
    width:100%;
}

.navstyle li:hover
{
    visibility:inherit;
}

.navstyle li
{
    float:left;
    position:relative;
}

.navstyle a
{
    display:block;
    position:relative;
    text-decoration:none;
}

.navstyle li:hover ul
{
    left:0;
    top:37px;
    z-index:99;
}

ul.navstyle li:hover li ul
{
    top:-999em;
}

ul.navstyle li li:hover ul
{
    left:12em;
    top:0;
}

ul.navstyle li li:hover li ul
{
    top:-999em;
}

ul.navstyle li li li:hover ul
{
    left:12em;
    top:0;
}

ul.navstyle li li li:hover li ul
{
    top:-999em;
}

ul.navstyle
{
    width:100%;
}

.navstyle
{
    float:left;
}

.navstyle a.listitem
{
    font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:14px;
    font-weight:normal;
    margin-right:10px;
    display:block;
    float:left;
    line-height:60px;
    width:112px;
    color:#fff;
    text-decoration:none;
}

* html .navstyle a.listitem{display:inline}

.navstyle a.listitem:hover,.navstyle li:hover a.listitem{background-color: #CD3695; color:#fff; font-size: 18px; text-decoration:none;}

.navstyle a.listitem span.mainitem{padding-right:20px;padding-left:20px;text-decoration:none;display:block;text-align:center;}
* html .navstyle a.listitem span.mainitem{float:left}
.navstyle a.listitem:hover span.mainitem{text-decoration:none}
.navstyle li ul a{display:block;height:60px;line-height:60px;padding: 0px; text-align: center;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:12px;font-weight:normal;text-decoration:none;color:#fff;background-color:#696969}
.navstyle li ul a.sub-last{display:block;}
* html .navstyle a.listitem{cursor:pointer}
* html .navstyle li ul a{height:1%;cursor:pointer}
*+html .navstyle a.listitem{cursor:pointer}
.navstyle li ul a:hover,.navstyle li ul li:hover>a{outline:0;text-decoration:none;color:#fff;background-color:#CD3695}
.navstyle li:hover > div.hex div.topHex{border-bottom: 32.5px solid #CD3695;}
.navstyle li:hover > div.hex div.middleHex a{background-color: #CD3695;}
.navstyle li:hover > div.hex div.bottomHex{border-top: 32.5px solid #CD3695;}
.navstyle li ul a.sf-with-ul{min-width:1px}
* html .navstyle ul{background:0;padding:0}
.hidethis{display:none}
#wsbnavbar1 {position: absolute; left: 6%; top: 10px; width: 585px; height: 37px; z-index: 1;}

/* ========== HEX STYLES ========== */
/* ================================ */

.hex
{ 
    margin-bottom: -60px;
    margin-right: 3px;
    position: relative;
    display: inline-block;
}

.hex:hover > .topHex
{
    border-bottom: 32.5px solid #CD3695;
}

.hex:hover > .middleHex a
{
    background-color: #CD3695;    
}

.hex:hover > .bottomHex
{
    border-top: 32.5px solid #CD3695;
}

.hex.firstsub
{
    margin-left: -57.5px;
    margin-top: 57.5px;
    padding-right: 10px;    
}

.hex.firstsub.first
{
    margin-left: -110.25px;
    margin-top: 57.5px;
    display: inline-block;
}

.hex.firstsub.second
{
    float: left;
    margin-left: 4.75px;
    margin-top: -68.5px;
}

.hex.firstsub.third
{
    float: left;
    margin-top: -68.5px;
    margin-left: 119.5px;
}

.hex.secondsub
{
    margin-top: 25.5px;
    margin-left: 0px;
    padding-right: 10px;
}

.hex.secondsub.first
{
    margin-left: -53px;
    
}

.hex.secondsub.second
{
    float: left;
    margin-top: -68.5px;
    margin-left: 62px;
    display: inline-block;
}

.hex.secondsub.third
{
    float: left;
    margin-top: -68.5px;
    margin-left: 176.5px;
}

.topHex
{
    width: 0;
    border-bottom: 32.5px solid #696969;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
    margin: 0 auto;
}

.middleHex
{
    width: 112px;
    height: 60px;
    background-color: #696969;
    border: none;
    margin: 0 auto;
}

.bottomHex{
    width: 0;
    border-top: 32.5px solid #696969;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
    margin: 0 auto;
}

.hex-row
{
    clear: left; 
    width: 100%;
    text-align: center;
    position: relative;
}

/*========== ICONS ==========*/
/*===========================*/
.editIcon, .detailsIcon, .deleteIcon
{
    width: 30px;
    height: 30px;
    padding-right: 10px;
    padding-top: 5px;
}

    #divHelp
    {
        position: relative;
        top: -25px;
        float: right;
        margin-right: 50px;
        display: inline-block;
    }
    
    #helpIcon
    {
        width: 40px;
        height: 40px;
    }
    
    #divHome
    {
        float: right;
        margin-right: 30px;
        display: inline-block;
        position: relative;
        top: -26px;
    }
    
    #homeIcon
    {
        width: 40px;
        height: 40px;
    }

/*========== HELP CONTENT ========== */
/*================================== */
p.sub1
{
    left: 10%;
}

p.sub2
{
    left: 12%;
}

p.sub3
{
    left: 14%;
}

span.sub2
{
    position: relative;
    left: 12%; 
    display: block;
    margin-bottom: 10px;
}

span.sub3
{
    position: relative;
    left: 14%;
    display: block;
    margin-bottom: 10px;
}

.divHelp
{
    width: 70%;
}

@media only screen and (max-device-width: 480px)
{
    html,img
    {
       
    }

    html,body
    {
       
    }

    button, .aButton
    {
       
    }

    button:hover, .aButton:hover
    {
        
    }

    :focus
    {
       
    }

    .aButton
    {
       
    }
    .top-background
    {
       
    }

    .text
    {
       
    }

    .center
    {
       
    }

    .container
    {
       
    }

    .bottom-background
    {
       
    }

    .maincontent
    {    
       
    }

    p
    {
       
    }

    #quicknav
    {
         
    }

    #dashboardNav
    {
       
    }

    input[type="submit"]
    {    
       
    }

    input[type="submit"], button
    {
        
    }

    input[type="submit"]:hover, button:hover{
        
    }

    #dashboardNav li
    {
        
    }

    #menuBar
    {
        
    }

    #menuBar
    {
       
    }

    #divLogButton
    {
        
    }

    #btnLogOut
    {  
        
    }

    #google_translate_element
    {
       
    }

    /* ========== NAVIGATION ==========*/
    /* ================================*/

    ul,ol
    {
        
    }

    :focus
    {
        
    }

    .navstyle,.navstyle *
    {
       
    }

    .navstyle
    {
        
    }

    .navstyle ul
    {
       
    }

    .navstyle ul li
    {
        
    }

    .navstyle li:hover
    {
        
    }

    .navstyle li
    {
        
    }

    .navstyle a
    {
        
    }

    .navstyle li:hover ul
    {
       
    }

    ul.navstyle li:hover li ul
    {
        top:-999em;
    }

    ul.navstyle li li:hover ul
    {
        left:12em;
        top:0;
    }

    ul.navstyle li li:hover li ul
    {
        top:-999em;
    }

    ul.navstyle li li li:hover ul
    {
        left:12em;
        top:0;
    }

    ul.navstyle li li li:hover li ul
    {
        top:-999em;
    }

    ul.navstyle
    {
        width:100%;
    }

    .navstyle
    {
        float:left;
    }

    .navstyle a.listitem
    {
        font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
        font-size:14px;
        font-weight:normal;
        margin-right:10px;
        display:block;
        float:left;
        line-height:60px;
        width:112px;
        color:#fff;
        text-decoration:none;
    }

    * html .navstyle a.listitem{display:inline}

    .navstyle a.listitem:hover,.navstyle li:hover a.listitem{background-color: #CD3695; color:#fff; font-size: 18px; text-decoration:none;}

    .navstyle a.listitem span.mainitem{padding-right:20px;padding-left:20px;text-decoration:none;display:block;text-align:center;}
    * html .navstyle a.listitem span.mainitem{float:left}
    .navstyle a.listitem:hover span.mainitem{text-decoration:none}
    .navstyle li ul a{display:block;height:60px;line-height:60px;padding: 0px; text-align: center;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:12px;font-weight:normal;text-decoration:none;color:#fff;background-color:#696969}
    .navstyle li ul a.sub-last{display:block;}
    * html .navstyle a.listitem{cursor:pointer}
    * html .navstyle li ul a{height:1%;cursor:pointer}
    *+html .navstyle a.listitem{cursor:pointer}
    .navstyle li ul a:hover,.navstyle li ul li:hover>a{outline:0;text-decoration:none;color:#fff;background-color:#CD3695}
    .navstyle li:hover > div.hex div.topHex{border-bottom: 32.5px solid #CD3695;}
    .navstyle li:hover > div.hex div.middleHex a{background-color: #CD3695;}
    .navstyle li:hover > div.hex div.bottomHex{border-top: 32.5px solid #CD3695;}
    .navstyle li ul a.sf-with-ul{min-width:1px}
    * html .navstyle ul{background:0;padding:0}
    .hidethis{display:none}
    #wsbnavbar1 {position: absolute; left: 6%; top: 10px; width: 585px; height: 37px; z-index: 1;}

    /* ========== HEX STYLES ========== */
    /* ================================ */

    .hex
    { 
        margin-bottom: -60px;
        margin-right: 3px;
        position: relative;
        display: inline-block;
    }

    .hex:hover > .topHex
    {
        border-bottom: 32.5px solid #CD3695;
    }

    .hex:hover > .middleHex a
    {
        background-color: #CD3695;    
    }

    .hex:hover > .bottomHex
    {
        border-top: 32.5px solid #CD3695;
    }

    .hex.firstsub
    {
        margin-left: -57.5px;
        margin-top: 57.5px;
        padding-right: 10px;    
    }

    .hex.firstsub.first
    {
        margin-left: -110.25px;
        margin-top: 57.5px;
        display: inline-block;
    }

    .hex.firstsub.second
    {
        float: left;
        margin-left: 4.75px;
        margin-top: -68.5px;
    }

    .hex.firstsub.third
    {
        float: left;
        margin-top: -68.5px;
        margin-left: 119.5px;
    }

    .hex.secondsub
    {
        margin-top: 25.5px;
        margin-left: 0px;
        padding-right: 10px;
    }

    .hex.secondsub.first
    {
        margin-left: -53px;

    }

    .hex.secondsub.second
    {
        float: left;
        margin-top: -68.5px;
        margin-left: 62px;
        display: inline-block;
    }

    .hex.secondsub.third
    {
        float: left;
        margin-top: -68.5px;
        margin-left: 176.5px;
    }

    .topHex
    {
        width: 0;
        border-bottom: 32.5px solid #696969;
        border-left: 56px solid transparent;
        border-right: 56px solid transparent;
        margin: 0 auto;
    }

    .middleHex
    {
        width: 112px;
        height: 60px;
        background-color: #696969;
        border: none;
        margin: 0 auto;
    }

    .bottomHex{
        width: 0;
        border-top: 32.5px solid #696969;
        border-left: 56px solid transparent;
        border-right: 56px solid transparent;
        margin: 0 auto;
    }

    .hex-row
    {
        clear: left; 
        width: 100%;
        text-align: center;
        position: relative;
    }

    /*========== ICONS ==========*/
    /*===========================*/
    .editIcon, .detailsIcon, .deleteIcon
    {
        width: 30px;
        height: 30px;
        padding-right: 10px;
        padding-top: 5px;
    }
    

}